<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Mercado Liebre</title>
    <!-- estilos -->
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f4d1904851.js" crossorigin="anonymous"></script>
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <script src="https://kit.fontawesome.com/5ef236f1f2.js" crossorigin="anonymous"></script>
    <title>Login | Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
    </header>

    <main class="main-login">
        <section>
            <h3>INGRESA A TU CUENTA</h3>
            <form action="/ingresa-a-tu-cuenta" method="POST">
                <div>
                <input type="text" name="usuario" placeholder="Nombre de usuario"> 
                </div>
                <div>
                <input type="password" name="password" placeholder="Elegí tu contraseña">
                </div>
                
                <input type="submit" value="Enviar">
    </main>
            </form>
        </section>
        
        <footer>
            <section>
                <div class="detalles-footer">
                    <i class=" icon-footer fa-regular fa-credit-card"></i>
                    <h3>Paga con tarjeta o en efectivo</h2>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                            siempre es
                            seguro!</p>
                </div>
                <div class="detalles-footer">
                    <i class=" icon-footer fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $2.500</h2>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                            beneficio de
                            Mercado Puntos</p>
                </div>
                <div class="detalles-footer">
                    <i class=" icon-footer fa-solid fa-user-shield"></i>
                    <h3>Seguridad de principio a fin</h2>
                        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                            protegid@
                        </p>
                </div>
                <p class="copyrigth">Copyright ©️ 1999-2020 MercadoLiebre S.R.L</p>
            </section>
    
        </footer>
    </main>
</body>
</html>